.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.rowEpisode {
  padding: 10px;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.charBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.charImg {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.charTextBox {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.row {
    display:flex;
    flex-direction: row;
    gap: 2rem;
    height: 2rem;
}

.feature {
    width: 5rem;
    color: rgb(166, 166, 166);
}

.value {
    font-size: 1.2rem;
    font-weight: 500;
}

.textContent {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}

.rowContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 3rem;;
}
