.logo {
    width: 60px;
    height: 60px;
}

$dark-bgr-clr: #666666;
$menu-txt-clr: #fff;
$hover-clr: #ff1d9d;

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    text-decoration: none;
    
    
    & a {
        color: $menu-txt-clr;
        text-decoration: none;
        font-size: 2rem;
        &:hover {
            color: $hover-clr;
        }
    }
}

.titleLeft {
    width: 100%;
    padding-left: 2rem;
    text-align: left;
    color: rgb(44, 209, 44);
}

.title {
-webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
