<div>
  <h2>List of animals</h2>
  <mat-list>
    <mat-list-item *ngFor="let animal of listedAnimals">
      <div class="list-item">
        <div class="list-text">
          <h4 >{{ animal.name }}</h4>
          <p>{{ animal.aclass }}</p>
        </div>
        <button mat-icon-button (click)="deleteRequest.emit(animal.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</div>

<!-- <div class="mat-elevation-z8" animal-list>
<table mat-table class="mat-elevation-z8">
  <thead>
    <tr mat-header-row>
      <th mat-header-cell>Name</th>
      <th>Class</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let animal of listedAnimals">
      <td mat-cell>{{ animal.name }}</td>
      <td mat-cell>{{ animal.aclass }}</td>
      <td mat-cell><button class="btn btn-danger" (click)="deleteRequest.emit(animal.id)">x</button></td>
    </tr>
  </tbody>
</table>
</div> -->
